name: Terraform EC2 Deployment

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        working-directory: ec2-creation-in-us-east-1
        run: terraform init

      - name: Terraform Plan
        working-directory: ec2-creation-in-us-east-1
        run: terraform plan

      - name: Terraform Apply
        working-directory: ec2-creation-in-us-east-1
        run: terraform apply -auto-approve



